{% extends 'base.html.twig' %}

{% block title %}AgriFinanceStructure index{% endblock %}

{% block body %}
    <h1>AgriFinanceStructure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Structure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agri_finance_structure in agri_finance_structures %}
            <tr>
                <td>{{ agri_finance_structure.id }}</td>
                <td>{{ agri_finance_structure.structure }}</td>
                <td>
                    <a href="{{ path('agri_finance_structure_show', {'id': agri_finance_structure.id}) }}">show</a>
                    <a href="{{ path('agri_finance_structure_edit', {'id': agri_finance_structure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('agri_finance_structure_new') }}">Create new</a>
{% endblock %}
