{% extends 'base.html.twig' %}

{% block title %}FormationInitImg index{% endblock %}

{% block body %}
    <h1>FormationInitImg index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image1</th>
                <th>Image2</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation_init_img in formation_init_imgs %}
            <tr>
                <td>{{ formation_init_img.id }}</td>
                <td>{{ formation_init_img.image1 }}</td>
                <td>{{ formation_init_img.image2 }}</td>
                <td>
                    <a href="{{ path('formation_init_img_show', {'id': formation_init_img.id}) }}">show</a>
                    <a href="{{ path('formation_init_img_edit', {'id': formation_init_img.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('formation_init_img_new') }}">Create new</a>
{% endblock %}
