{% extends 'VuesAgrinet2/layout.html.twig' %}

{% block Home_title %}::acueil {% endblock %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}


<!-- banner -->
<div class="inner-banner" id="home">
	<div class="container">
	</div>
</div>
<!-- //banner -->



<!-- Team -->
<section id="team">
    <div class="container">
        <div class="row">
			
            <div class="row col-md-9">

                {% for actu in all_actualite %}
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-6" style="    padding-right: 25px;">
                        <a href="">
                                <div class="container">
                                        <div class="row row-margin-bottom">
                                            <div class="col-md-12 no-padding lib-item" data-category="view">
                                                <div class="lib-panel">
                                                    <div class="row box-shadow">
                                                        <div class="col-md-4 positionActuImg1" >
                                                            <img class="lib-img-show imageActu1"  src="{{asset('StyleAgrinet2/images/pic4.jpg')}}">
                                                        </div>
                                                        <div class="col-md-8 positionTexteActu1">
                                                            <!-- <div class="lib-row lib-header">
                                                                Example library
                                                                <div class="lib-header-seperator"></div>
                                                            </div> -->
                                                            <div class="lib-row lib-desc">
                                                                    <h5 class="title_actu2"> {{actu.title}}</h5>
                                                                    <h5 class="content_actu2"> {{actu.content}}</h5> 
                                                                    <span class="tilte_date">12/25/1</span>      
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </a>
                </div>
                <!-- ./Team member -->

                <!-- Team member -->
            <!--     <div class="col-xs-12 col-sm-6 col-md-6" style="    padding-right: 25px;">
                        <a href="">
                                <div class="container">
                                        <div class="row row-margin-bottom">
                                            <div class="col-md-12 no-padding lib-item" data-category="view">
                                                <div class="lib-panel">
                                                    <div class="row box-shadow">
                                                        <div class="col-md-4 positionActuImg1" >
                                                            <img class="lib-img-show imageActu1" src="http://lorempixel.com/850/850/?random=123">
                                                        </div>
                                                        <div class="col-md-8 positionTexteActu1">
                                                            <div class="lib-row lib-header">
                                                                Example library
                                                                <div class="lib-header-seperator"></div>
                                                            </div> -->
                                                          <!--   <div class="lib-row lib-desc">
                                                                Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </a>
                </div> --> 
                <!-- ./Team member -->
                {% endfor %}
            </div>
	
            <!-- Team member --> 
            <div class="col-xs-12 col-sm-6 col-md-3">
				<div class="card" style="width: 18rem;">
					<div class="card-header bg-dark text-white">
						Actualités <span>
                                <button type="button" class="btn  wthree-link-bnr bg-theme rounded-circle text-center mt-lg-0 mt-3 bouton-userPer" data-toggle="modal"
                                aria-pressed="false" data-target="#exampleModal22" data-blast="bgColor"> <span class="fa fa-plus text-yellow"></span>
                                </button></span>
					</div>
					<ul class="list-group list-group-flush tailleImgTextActu">
						{% for actu in all_actualite %}
							
							<li class="list-group-item">
                                <a href="">
                                    <div class="container">
                                            <div class="row row-margin-bottom">
                                                <div class="col-md-12 no-padding lib-item" data-category="view">
                                                    <div class="lib-panel">
                                                        <div class="row box-shadow">
                                                            <div class="col-md-4 positionActuImg" >
                                                                <img class="lib-img-show imageActu" src="{{ asset('uploads/') }}{{ actu.image }}">
                                                            </div>
                                                            <div class="col-md-8 positionTexteActu">
                                                                <!-- <div class="lib-row lib-header">
                                                                    Example library
                                                                    <div class="lib-header-seperator"></div>
                                                                </div> -->
                                                                <div class="lib-row lib-desc actu_gauche">
                                                                   <h5 class="title_actu"> {{actu.title}}</h5>
                                                                   <h5 class="content_actu"> {{actu.content}}</h5> 
                                                                   <span class="tilte_date">{{actu.createdAt | date('d/m/y') }}</span>      
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </a>
                            </li>
                     
                        {% endfor %}  
					
						
					</ul>
				</div>
            </div>
            <!-- ./Team member -->
        </div>
       
    </div>
</section>









{% include "VuesAgrinet2/fragment/modal_actualite.html.twig" %}

	<!-- //footer -->

	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->

	<script>
        $(document).ready(function(){
             $('#myCarousel').carousel({
    	interval:   4000
	});
        });
   
    </script>















 

{% endblock %}
