{% extends 'VuesAgrinet2/layout.html.twig' %}

{% block Home_title %}::acueil {% endblock %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}


<script src="{{asset('StyleAgrinet2/js/jquery.min.js')}}"></script>



<script src="{{asset('StyleAgrinet2/js/jquery-3.2.1.slim.min.js')}}"></script>

<!-- banner -->
<div class="inner-banner" id="home">
	<div class="container">
	</div>
</div>
<!-- //banner -->

<!-- about -->
<section class="about py-5" id="about">
	<div class="container py-lg-5 py-sm-3">
      <h3 class="heading mb-sm-5 mb-4 text-center"> PHYTOPHARMACIE</h3>
      <div class="row phyto_design">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                           
                            
                                <form action="{{path('phytopharmacie')}}" method="get">
                                        <select class="form-control culture" name="culture"  >
                                            {% for culture in listePhyto %}
                                              <option id="1" >
                                                  {{culture.culture}}
                                              </option>
                                              {% endfor %}
                                              
                                          </select>
                                          
                                          <select class="form-control form-control-sm enemie" name="enemie"  >
                                              {% for culture in listePhyto %}
                                              <option name="enemie">
                                                  {{culture.enemie}}
                                              </option>
                                              {% endfor %}
                                              
                                          </select>
                            
                                          <select class="form-control form-control-sm Nom_commercial" name="nom_commercial">
                                            {% for culture in listePhyto %}
                                              <option name="nomCommercial">
                                                  {{culture.nomCommercial}}
                                              </option>
                                              {% endfor %}
                                              
                                          </select>
                            
                                          <select class="form-control form-control-sm Sociéte" name="societe">
                                            {% for culture in listePhyto %}
                                              <option name="societe">
                                                  {{culture.societe}}
                                              </option>
                                              {% endfor %}
                                          </select>
                            
                                          <select class="form-control form-control-sm Matiere_Active" name="matiere_active">
                                            {% for culture in listePhyto %}
                                              <option name="matiereActive">
                                                  {{culture.matiereActive}}
                                              </option>
                                              {% endfor %}
                                          </select>
                            
                                          <select class="form-control form-control-sm Classe" name="classe">
                                            {% for culture in listePhyto %}
                                              <option name="classe">
                                                  {{culture.classe}}
                                              </option>
                                              {% endfor %}
                                          </select>
                                          <button class="btn btn-warning pull-left btn_desin_perso">Rechercher</button>
                                          <button class="btn btn-warning pull-right btn_desin_perso" type="submit">Rafraichir</button>
              
                                        </form>

                          </div>
                          <div class="col-md-4"></div>
    
      </div>       
    </div>
 
  <div class="container">
      <div class="col md-12">
          <h3 class="heading mb-sm-5 mb-4 text-center"> PHYTOPHARMACIE</h3>
          
          <table class="col-md-12 table table-borded table-striped table_phytopharmacie" id="table-list3">
              <thead class="table-dark">
                  <tr class="">
                    
                      <td>culture</td>
                      <td>ennemi</td>
                      <td>Nom commercial</td>
                      <td>Société</td>
                      <td>Matière active (teneur)</td>
                      <td>Classe</td>
                
                  </tr>
              </thead>
              <tbody class="tab_new_style">

                 {% for listeAll in listePhyto %}
                  <tr class="">
                      <td>{{listeAll.culture}}</td>
                      <td>{{listeAll.enemie}}</td>
                      <td>{{listeAll.nomCommercial}}</td>
                      <td>{{listeAll.societe}}</td>
                      <td>{{listeAll.matiereActive}}</td>
                      <td>{{listeAll.classe}}</td>
                     
                  </tr>
                  {% endfor %}
            
                 
              </tbody>
            
              
          </table>
      </div>
    </div>
</section>

	<!-- //footer -->

	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->
<script>
    $(document).ready(function(){
        /* $(".btn_desin_perso").click(function(){
            var culture=$(".culture").val();
            var enemie=$(".enemie").val();
            var Nom_commercial=$(".Nom_commercial").val();
            var Sociéte=$(".Sociéte").val();
            var Matiere_Active=$(".Matiere_Active").val();
            var Classe=$(".Classe").val();
           
            $(".table_phytopharmacie > tbody > tr:last > td:first").val("culture");
        }); */
       

$('select').on('change',function(){
    var value=$(this).val();
    alert(value);
})
      
      
    });

</script>

{% endblock %}
