{% extends 'VuesAgrinet2/layout.html.twig' %}

{% block Home_title %}::acueil {% endblock %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}



<script src="{{asset('StyleAgrinet2/js/jquery.min.js')}}"></script>



<script src="{{asset('StyleAgrinet2/js/jquery-3.2.1.slim.min.js')}}"></script>

<script src="{{asset('StyleAgrinet2/js/popper.min.js')}}"></script>



<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="{{asset('StyleAgrinet2/css/tab.css')}}">
<!-- banner -->
<div class="inner-banner" id="home">
	<div class="container">
	</div>
</div>
<!-- //banner -->



<!-- feedback -->
<section class="news py-5">
	<div class="container-fluid ">
	
		<div class="row">


      <div class="col-sm-4">
          <h4 class="titre_tab">Input/Output: Bétail  </h4>
      </div>

      <div class="col-sm-8">
          <table class="table_first  " >
            
              <tbody class="tab_new_style"></tbody>
                  <tr class="ju">
                    
                    <td >
                      <div class="group">      
                        <input type="text" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Ferme: </label>
                      </div>
                    </td>
                    <td>
                        <div class="group">      
                            <input type="text" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Type/race: </label>
                          </div>
                    </td>
                   
                    <td >
                            <div class="group">      
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>période reference: </label>
                              </div>
                          
                        </td>
                    
                   
                  </tr>

                 
                  
    
                  
                
              </tbody>
              
          </table>
      </div>
      <div class="col-sm-8">


      </div>
     
      <div class="table-content">
        <table class="table table-borded table-responsive table-striped " id="table-list">
            <thead class="table-dark">
                <tr >
                    
                    <td>Date</td>
                    <td>Activités</td>
                    <td>Durée</td>
                    <td rowspan="2" colspan="4">Traitement
                    </td>
                  
                    <td rowspan="2" colspan="6">Alimentation</td>
                    <td rowspan="2" colspan="6">Main d'oeuvre</td>
                    <td rowspan="2" colspan="2">Evolution nombre d'animal</td>
                   
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr >
                    
                    <td></td>
                    <td></td>
                    <td></td>
                    <td >lkjh </td>
                  
                    <td >Alimentation</td>
                    <td >Main d'oeuvre</td>
                    <td >Evolution nombre d'animal</td>
                   
                   
                </tr>
            </thead>
            <tbody class="tab_new_style">
                <tr class="ju">
                        <td>Date</td>
                        <td>nom/objet/unités</td>
                        <td>Quantité</td>
                        <td>Unité (vol.)</td>
                        <td>Coûts par unité</td>
                        <td>Replacement</td>
                        <td>Aliments</td>
                        <td>Médicales</td>
                        <td>Carbur./élect</td>
                        <td>Transport</td>
                        <td>Main-d'œuvre</td>
                        <td>autres</td>
                        <td>Totale</td>
                        <td>Poules</td>
                        <td>coqs</td>
                        <td style="border-right:1px solid #f8f9fa7a!important">poulets</td>
                </tr>

                
              
            </tbody>
            
            <tr class="total_recap_cul">
                
                    <td colspan="5" class="text-center">Total par parcelle:</td>
                   
                    <td>Semences</td>
                    <td>Engrais/fumier</td>
                    <td>Sub. chimique</td>
                    <td>Carb./Ess/Elé</td>
                    <td>Transport</td>
                    <td>rav-salar/Serv</td>
                    <td>autres</td>
                    <td>Totale</td>
                   
                  </tr>
                  <tr class="total_recap_cul">
                    
                    <td colspan="5" class="text-center">Total par ha:</td>
                    <td>Semences</td>
                    <td>Engrais/fumier</td>
                    <td>Sub. chimique</td>
                    <td>Carb./Ess/Elé</td>
                    <td>Transport</td>
                    <td>rav-salar/Serv</td>
                    <td>autres</td>
                    <td>Totale</td>
                    
                  </tr>
    
        </table>
        <button class="btn btn-dark btn_ajouter_colonne_tab" id="add"><span class="fa fa-plus-circle btn_ajter_colonne"></span></button>
      
        
       
    </div>

    <div class="clearfix"></div>
  
    <div class="col-sm-6">
        <h5 class="titre_tab2">Utilisation des poduits (SVP notez des animals ou produits vendues, donné, etc.) </h5>

        
    <div class="table-content">
        <table class="table table-borded table-responsive table-striped " id="table-list2">
            <thead class="table-dark">
                <tr class="bg-success">
                    <td>Date</td>
                    <td>Utilisation du rendement</td>
                    <td>Quantité</td>
                    <td>Unité</td>
                    <td>Prix / Valeur</td>
                    <td>Revenu</td>
                </tr>
            </thead>
            <tbody class="tab_new_style">
                <tr class="ju">
                        <td>Date</td>
                        <td>Utilisation du rendement</td>
                        <td>Quantité</td>
                        <td>Unité</td>
                        <td>Prix / Valeur</td>
                        <td>Revenu</td>
                  
                </tr>

                
              
            </tbody>
            <tr class="total_recap_cul">
                
                    <td colspan="5" class="text-center">Total </td>
                   
                  
                    <td>Quantité</td>
                    
                 
    
        </table>
        <button class="btn btn-success btn_ajouter_colonne_tab" id="add2"><span class="fa fa-plus-circle btn_ajter_colonne"></span></button>
      
       
    </div>
    </div>

    <div class="col-sm-6">
        <h5 class="titre_tab2">Utilisation du travail familial</h5>

        
        <div class="table-content">
            <table class="table table-borded table-responsive table-striped " id="table-list3">
                <thead class="table-dark">
                    <tr class="bg-info">
                        <td>Activité</td>
                        <td>Hom.jour</td>
                        
                    </tr>
                </thead>
                <tbody class="tab_new_style">
                    <tr class="ju">
                       
                        <td>Utilisation de rendement</td>
                        <td>Quantité</td>
                      
                      
                    </tr>
    
                    
                  
                </tbody>
                <tr class="total_recap_cul">
                    
                        <td  class="text-center">Total </td>
                       
                      
                        <td>Quantité</td>
                       
                      </tr>
                     
        
            </table>
            <button class="btn btn-info btn_ajouter_colonne_tab" id="add3"><span class="fa fa-plus-circle btn_ajter_colonne"></span></button>
          
         
           
        </div>


        <h5 class="titre_tab2">Marge brute</h5>

        <table class="table table-borded table-responsive table-striped " id="table-list3">
            <thead class="table-dark">
                <tr class="bg-warning">
                    <td>Revenu total</td>
                    <td>Cout total</td>
                    <td>Revenu total - Cout total</td>
                    
                </tr>
            </thead>
            <tbody class="tab_new_style">
                <tr class="ju">
                  
                    <td>3 430 000</td>
                    <td>2 462 400</td>
                    <td> 967.600 </td>
                         
                       
                 
                </tr>
                
            </tbody>
            
        </table>
         
    </div>


		</div>
	</div>
</section>
<!-- //feedback -->



	<!-- //footer -->

	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->
<script src="{{asset('StyleAgrinet2/js/tab.js')}}"></script>
<script>
$(document).ready(function(){
$(".total_recap_cul").find("td:last").css("display","none");
});
</script>
{% endblock %}
