{% extends 'VuesAgrinet2/layout.html.twig' %}

{% block Home_title %}::acueil {% endblock %}

{% block stylesheets %}
<style>
        img.img-responsive.img-for1 {
            height: 246px!important;
            width: 100%;
        }
        </style>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{ asset('StyleAgrinet2/js/jquery-3.2.1.slim.min.js') }}"></script>
{% endblock %}

{% block body %}



<!-- banner -->
<div class="inner-banner" id="home">
	<div class="container">
	</div>
</div>
<!-- //banner -->

<section class="about py-5" id="about">
        <div class="container py-lg-5 py-sm-3">
            <h3 class="heading mb-sm-5 mb-4 text-center">GESTION DU SOL ET DE L’EAU</h3>
            <div class="row">
                    {% for photo in gestion_sol_imgs  %}
                    <div class ="col-lg-3" ><img src="{{ asset('uploads/') }}{{ photo.image1 }}" class="img-responsive img-for1"></div>
                    <div class ="col-lg-3" ><img src="{{ asset('uploads/') }}{{ photo.image2 }}" class="img-responsive img-for1"></div>
                   
                    {% endfor %}
                </div>
           
            <div class="row">
                <div class="col-lg-12 pl-xl-5 mt-lg-0 mt-4 about-right">
                        <p> Nous analysons le sol de votre exploitation afin de déterminer sa capacité a mieux produire et les quantités d’intrant ou techniques agricoles à adopter pour un rendement optimal au niveau de votre parcelle
                                Il est réalisé à la fin de chaque campagne annuelle un bilan agronomique. Il comporte notamment le bilan de fumure et les analyses réalisées sur les sols, effluents et amendements. Il dresse également le bilan des apports annuel à la parcelle et les cumuls des apports pluriannuels à la parcelle.
                                Demandez l’analyse de vos terres pour 	votre rendement.
                                
                                </p>

                                <br>
                            <div class="row">
                                    <div class="col-lg-6 item">
                                            <a href="#" data-toggle="modal"
                                            aria-pressed="false" data-target="#exampleModal891" data-blast="bgColor">
                                            <div class="feedback-info pt-5 pb-4 px-4 bloc1-elevage">
                                                    <h3 class="mb-3">
                                                            <button class="btn btnLinkPage">SOUSCRIRE A UN PROGRAMME DE GESTION DE LA FERTILITE DE VOS TERRES </button>
                                                    </h3>
                                                    
                                                    <div class="feedback-grids mt-3">
                                                        
                                                        <div class="clearfix"> </div>
                                                    </div>
                                                </div>
                                            </a>

                                        
                                    </div>
                                   
                                
                                </div>
                   
                </div>
       
    
                    
                    
            </div>
          
    
        </div>
    
        </div>
    </section>
    {% include "VuesAgrinet2/fragment/modal_gestion_sol.html.twig" %}

    {% endblock %}