<style>
.drp_acue{
	width: 340px;
}
.drp_acue li{
	width: 340px;
}
</style>


<!-- header -->
<header>
	<div class="container-fluid">
		<!-- nav -->
		<nav class=" navbar ">
			<div id="logo">
				<a href="{{path('security_welcome')}}">  <img src="{{asset('StyleAgrinet/images/Agrinet.png')}}" class="img-responsive logoAgrinet" alt=""></a>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu mt-md-2 ml-auto">
					<li class="mr-lg-4 mr-2"><a href="{{path('security_welcome')}}"><span class="fa fa-home"></span></a></li>
					<li class="mr-lg-4 mr-2"><a href="{{path('a_propos_de_nous')}}">A propos</a></li>
				
				<li class="mr-lg-4 mr-2 dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Formation & expertise <b class="caret"></b></a>
						<ul class="dropdown-menu drp_acue">
						  <li><a href="{{path('formation_expertise')}}">Formation & expertise</a></li>
						  <li><a href="{{path('formation_initiale')}}">formation initiale</a></li>
						  <li><a href="{{path('formation_pratique')}}">formation pratique</a></li>
						  <li><a href="{{path('montage_projets')}}">montage projets</a></li>
						  <li><a href="{{path('gestion_du_sol')}}">gestion du sol</a></li>
						  <li><a href="{{path('vulgarisation_agricole')}}">vulgarisation agricole</a></li>
						  
						</ul>
					  </li>
				<li class="mr-lg-4 mr-2 active"><a href="{{path('mieux_produire')}}">mieux produire</a></li>
				<li class="mr-lg-4 mr-2"><a href="{{path('devenir_expert')}}">devenir expert</a></li>
				<li class="mr-lg-4 mr-2"><a href="{{path('bibliotheque_agricole')}}">Bibliothèque Agricole</a></li>
				<li class="mr-lg-4 mr-2"><a href="{{path('phytopharmacie')}}">phytopharmacie</a></li>
				<li class="mr-lg-4 mr-2"><a href="{{path('contactez_nous')}}">Contact</a></li>
				{% if not app.user %}
				<button type="button" class="btn  wthree-link-bnr bg-theme rounded-circle text-center mt-lg-0 mt-3 bouton-userPer" data-toggle="modal"
					aria-pressed="false" data-target="#exampleModal" data-blast="bgColor"> <span class="fa fa-user text-yellow"></span>
				</button>
				{% else %}
				<li class="btn btn-danger"><a href="{{path('security_logout')}}"><span class="fa fa-logout">Déconnexion</span></a></li>
				{% endif %}
			</ul>
		
		</nav>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->
<script>
$('ul.nav li.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
});
</script>