<!-- login  -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modalPerso">
        <div class="modal-header">
            <h5 class="modal-title text-white" id="exampleModalLabel">Signin</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="{{path('security_login')}}" method="post" class="p-sm-3">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Username</label>
                    <input type="text" class="form-control" placeholder="" name="_username" id="recipient-name"
                        required="">
                </div>
                <div class="form-group">
                    <label for="password" class="col-form-label">Password</label>
                    <input type="password" class="form-control" placeholder="" name="_password" id="password"
                        required="">
                </div>
                <div class="right-w3l">
                    <input type="submit" class="form-control" value="Login">
                </div>
                <div class="row sub-w3l my-3">
                    <div class="col-sm-6 sub-w3_pvt">
                        <input type="checkbox" id="brand1" value="">
                        <label for="brand1">
                            <span></span>Remember me?</label>
                    </div>
                    <div class="col-sm-6 forgot-w3l text-sm-right">
                        <a href="#" class="text-secondary">Forgot Password?</a>
                    </div>
                </div>
                <p class="text-center dont-do modal-footer1">Don't have an account?
                    <a href="#" data-toggle="modal" data-target="#exampleModal1" class="font-weight-bold"
                        data-blast="color">
                        Register Now</a>

                </p>
            </form>
        </div>
    </div>
</div>
</div>
<!-- //login -->
<!-- register -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modalPerso">
        <div class="modal-header">
            <h5 class="modal-title text-white" id="exampleModalLabel1">Register</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {{ form_start(form)}}

                       <div class="form-group">
                       {{form_row(form.noms, { 'label': 'Noms', 'attr': {'placeholder':'Entrez votre nom','class':'form-control'}}) }}
                       {{form_row(form.prenoms, { 'label': 'Prenoms', 'attr': {'placeholder':'Entrez votre prenom','class':'form-control'}}) }}
                       {{form_row(form.location, { 'label': 'Location', 'attr': {'placeholder':'Ou est située votre ferme agricole??','class':'form-control'}}) }}
                       {{form_row(form.email, { 'label': 'Adresse email', 'attr': {'placeholder':'Entrez votre adresse email','class':'form-control'}}) }}
                       {{form_row(form.numero, { 'label': 'Numero', 'attr': {'placeholder':'Entrez votre numero','class':'form-control'}}) }}
                       {{form_row(form.numeroWhatsapp, { 'label': 'Numero Whatsapp', 'attr': {'placeholder':'Entrez votre numero Whatsapp','class':'form-control'}}) }}
                       {{form_row(form.password, { 'label': 'Mot de passe', 'attr': {'placeholder':'Entrez votre mot de passe','class':'form-control'}}) }} 
                       {{form_row(form.confirmPassword, { 'label': 'Confirmation du mot de passe ', 'attr': {'placeholder':'Re-entrez votre mot de passe','class':'form-control'}}) }}  
                       </div>

                       <button type="submit" class="btn btn-success">Créer le Compte</button>

                       {{form_end(form)}}
        </div>
    </div>
</div>
</div>
<!-- // register -->
<!-- blog modal1 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header bg-theme">
            <h5 class="modal-title" id="exampleModalLabel2">Cras ultricies ligula sed.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center">
            <img src="images/g1.jpg" class="img-fluid" alt="" />
            <p class="text-left my-4">
                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit amet
                nisl
                tempus convallis quis ac
                lectus. Cras ultricies ligula sed magna dictum porta.
            </p>
        </div>
    </div>
</div>
</div>
<!-- //blog modal1 -->
<!-- blog modal2 -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header bg-theme">
            <h5 class="modal-title" id="exampleModalLabel3">Cras ultricies ligula sed.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center">
            <img src="images/g2.jpg" class="img-fluid" alt="" />
            <p class="text-left my-4">
                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit amet
                nisl
                tempus convallis quis ac
                lectus. Cras ultricies ligula sed magna dictum porta.
            </p>
        </div>
    </div>
</div>
</div>
<!-- //blog modal2 -->
<!-- blog modal3 -->
<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header bg-theme">
            <h5 class="modal-title" id="exampleModalLabel4">Cras ultricies ligula sed magna.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center">
            <img src="images/g3.jpg" class="img-fluid" alt="" />
            <p class="text-left my-4">
                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit amet
                nisl
                tempus convallis quis ac
                lectus. Cras ultricies ligula sed magna dictum porta.
            </p>
        </div>
    </div>
</div>
</div>