<aside>
        <div id="sidebar" class="nav-collapse ">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="profile.html"><img src="{{asset('adminStyle/img/avatar.png')}}" class="img-circle" width="80"></a></p>
            <h5 class="centered">nom</h5>
            <li class="mt">
              <a class="active" href="{{path('admin')}}">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-desktop"></i>
                <span>Page Accueil</span>
                </a>
              <ul class="sub">
               
                <li><a href="{{path('add_actualiter')}}">Actualite</a></li>
               
              </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                  <i class="fa fa-desktop"></i>
                  <span>header</span>
                  </a>
                <ul class="sub">
                 
                  <li><a href="{{path('addOrganisation_new')}}">organisation</a></li>
                  <li><a href="{{path('add_strategie_action_img_new')}}">Strategie Action</a></li>
                  <li><a href="{{path('add_suivi_agri_img_new')}}">suivi agronomique</a></li>
                  <li><a href="{{path('add_orm_exper_img_new')}}">formation et expertise</a></li>
                  <li><a href="{{path('add_formation_init_img_new')}}">formation initiale</a></li>
                  <li><a href="{{path('add_renforcement_capacite_new')}}">renforcement capacite</a></li>
                  <li><a href="{{path('add_montage_pro_img_new')}}">montage projet</a></li>
                  <li><a href="{{path('add_gestion_sol_img_new')}}">gestion du sol</a></li>
                  <li><a href="{{path('add_vulgarisation_img_new')}}">vulgarisation agricole</a></li>
                  
                  
                </ul>
              </li>
           
            <li class="sub-menu">
                  <a href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span>page phytopharmacie</span>
                    </a>
                  <ul class="sub">
                    <li><a href="{{path('add_phyto')}}">form_phyto</a></li>
                    
                  </ul>
                </li>
            <li>

              <li class="sub-menu">
                  <a href="javascript:;">
                      <i class="fa fa-desktop"></i>
                      <span>page Variétés & Races</span>
                  </a>
                  <ul class="sub">
                      <li><a href="{{path('add_bibliotheque_recherche')}}">ajouter categorie localite et culture </a></li>
                      <li><a href="{{path('add_variete')}}">ajouter variete et caracteristique </a></li>

                  </ul>
              </li>
              <li>

             <li class="sub-menu">
                  <a href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span>page Agrifinance</span>
                    </a>
                  <ul class="sub">
                    <li><a href="{{path('add_agri')}}">add categorie</a></li>
                      <li><a href="{{path('add_agri_struc')}}">add structure</a></li>
                  </ul>
                </li>

                <li class="sub-menu">
                  <a href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span>Creer espace Pub 1</span>
                    </a>
                  <ul class="sub">
                    <li><a href="{{path('add_espace_pub1')}}">add photo </a></li>
                     
                  </ul>
                </li>

                <li class="sub-menu">
                  <a href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span>Creer espace Pub 2</span>
                    </a>
                  <ul class="sub">
                    <li><a href="{{path('add_espace_pub2')}}">add photo </a></li>
                    
                  </ul>
                </li>
            
            
          </ul>
          <!-- sidebar menu end-->
        </div>
      </aside>