{% extends 'base.html.twig' %}

{% block title %}GestionSolImg index{% endblock %}

{% block body %}
    <h1>GestionSolImg index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image1</th>
                <th>Image2</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gestion_sol_img in gestion_sol_imgs %}
            <tr>
                <td>{{ gestion_sol_img.id }}</td>
                <td>{{ gestion_sol_img.image1 }}</td>
                <td>{{ gestion_sol_img.image2 }}</td>
                <td>
                    <a href="{{ path('gestion_sol_img_show', {'id': gestion_sol_img.id}) }}">show</a>
                    <a href="{{ path('gestion_sol_img_edit', {'id': gestion_sol_img.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gestion_sol_img_new') }}">Create new</a>
{% endblock %}
