<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <title>
        {% block title %}
           Agrinet | {% block Home_title %}{% endblock %}
        {% endblock %}
    </title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
   

    {#<link rel="shortcut icon" href="favicon.ico">#}

    
    
    {% block stylesheets %}{% endblock %}

    <link href=" {{ asset('StyleAgrinet2/css/bootstrap.css') }} " type="text/css" rel="stylesheet" media="all">
    <!-- color switch -->
    
    <!-- portfolio -->
    <link href= "{{ asset('StyleAgrinet2/css/css_slider.css') }}" type="text/css" rel="stylesheet" media="all">
    <link href=" {{ asset('StyleAgrinet2/css/style.css') }}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href=" {{ asset('StyleAgrinet/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- style pour animer les cards de la page d'accueil -->
    <link href=" {{ asset('StyleAgrinet2/css/styleCardHome.css') }}" rel="stylesheet">

    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block stylesheetsend %}{% endblock %}
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body >
    
{% include "VuesAgrinet2/fragment/header.html.twig" %}

{% block body %}{% endblock %}
    
{% include "VuesAgrinet2/fragment/footer.html.twig" %}

<script src="{{ asset('StyleAgrinet2/js/bootstrap.js') }}"></script>
<script src="{{ asset('StyleAgrinet2/js/jquery-2.2.3.min.js') }}"></script>


{% include "VuesAgrinet2/fragment/modal.html.twig" %}

</body>

<!-- js -->
<script src=" {{ asset('StyleAgrinet/js/jquery-2.2.3.min.js') }}"></script>
<!-- //js -->
<!-- script for password match -->
<script>
    window.onload = function () {
        document.getElementById("password1").onchange = validatePassword;
        document.getElementById("password2").onchange = validatePassword;
    }

    function validatePassword() {
        var pass2 = document.getElementById("password2").value;
        var pass1 = document.getElementById("password1").value;
        if (pass1 != pass2)
            document.getElementById("password2").setCustomValidity("Passwords Don't Match");
        else
            document.getElementById("password2").setCustomValidity('');
        //empty string means no validation error
    }
</script>
<!-- script for password match -->
<!-- Banner  Responsiveslides -->
<script src="{{ asset('StyleAgrinet/js/responsiveslides.min.js') }}"></script>
<script>
    // You can also use"$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider3").responsiveSlides({
            auto: true,
            pager: true,
            nav: false,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
<!-- //Banner  Responsiveslides -->
<!-- Scrolling Nav JavaScript -->
<script src="{{ asset('StyleAgrinet/js/scrolling-nav.js') }}"></script>
<script src="{{ asset('StyleAgrinet/js/counter.js') }}"></script>
<!-- portfolio -->
<script src="{{ asset('StyleAgrinet/js/jquery.picEyes.js') }}"></script>
<script>
    $(function () {
        //picturesEyes($('.demo li'));
        $('.demo li').picEyes();
    });
</script>
<!-- //portfolio -->
<!-- start-smooth-scrolling -->
<script src="{{ asset('StyleAgrinet/js/move-top.js') }}"></script>
<script src="{{ asset('StyleAgrinet/js/easing.js') }}"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script>
    $(document).ready(function () {
        /*
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear' 
        };
        */
        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<script src="{{ asset('StyleAgrinet/js/SmoothScroll.min.js') }}"></script>
<!-- //smooth-scrolling-of-move-up -->
<!-- color switch -->
<script src="{{ asset('StyleAgrinet/js/blast.min.js') }}"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('StyleAgrinet/js/bootstrap.js') }}"></script>








{% block js %}{% endblock %}
{% block jsend %}{% endblock %}

<!-- END BODY -->
</html>