{% extends 'VuesAgrinet2/layout.html.twig' %}

{% block Home_title %}::acueil {% endblock %}

{% block stylesheets %}
  <style>
.devenir_expert_paragraphe p{
    font-family: 'Lato',Arial sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: oblique;
    color: black;
    padding: 8px;
}
.content{
    background-color: #eae4df;
    opacity: 0.96;
    margin-top: 13px;
}
.row.sous_entete {
    padding: 52px;
}
</style>
{% endblock %}

{% block body %}



<!-- banner -->
<div class="inner-banner" id="home">
	<div class="container">
        
	</div>
</div>
<!-- //banner -->

<div class="container-fluid">
        <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10 content">
            <div class="title"><h1 style="padding:25px;"> Devenir Expert AGRINET</h1></div>
            <div class="row">
                <div class="col-md-2">
                    <img src="http://www.apexagri.com/wp-content/themes/vortex-enfant/images/devenir-expert.png" class="image_entete" alt="">
                </div>
                <div class="col-md-10 devenir_expert_paragraphe">
                    <p>Vous êtes spécialiste en production végétale, nutrition animale, marketing, structuration de filières agricoles... ?
                            Venez partager votre passion et vos compétences au sein d'un réseau dynamique, au rayonnement international.</p> 
                            
                     <p>      Rejoignez notre réseau d'expert AGRINET !
                            N’hésitez pas à remplir ce formulaire* pour suivre notre actualité et être recontacté(e) par nos équipes si une opportunité se présente.</p>
                </div>
            </div>
            <div class="row sous_entete">
                    <div class="col-md-4 devenir_expert_paragraphe text-center">
                        <img src="http://www.apexagri.com/wp-content/themes/vortex-enfant/images/icone3.png" class="devenir_expert_img1" alt="">
                        <p>Valorisez vos compétences dans le cadre de missions à l'échelle internationale.</p>
                    </div>
                    <div class="col-md-4 devenir_expert_paragraphe text-center">
                        <img src="http://www.apexagri.com/wp-content/themes/vortex-enfant/images/icone2.png" class="devenir_expert_img2" alt=""> 
                        <p>Enrichissez vos expertises et domaines d'intervention, à travers de nouvelles problématiques agricoles et alimentaires.</p>
                    </div>
                    <div class="col-md-4 devenir_expert_paragraphe text-center">
                         <img src="http://www.apexagri.com/wp-content/themes/vortex-enfant/images/icone1.png" class="devenir_expert_img3" alt="">   
                         <p>Bénéficiez d'un réseau d'experts international et accédez à de nouvelles opportunités de développement.</p>   
                    </div>
                </div>
                <div>
         {{ form_start(FormDevenirExpert)}}
                    <p>Ma situation professionnelle actuelle:</p>
                    <input type="radio"/>Je propose mes compétences pour une intervention ponctuelle sur une mission de conseil <br>
                    <input type="radio"> Je cherche un emploi en CDD/CDI
                </div>  
                <div class="row" style="margin-top:30px;">
                    <div class="col-md-4">
                           
                                <div class="form-group">
                                                {{form_row(FormDevenirExpert.prenom, {'attr': {'placeholder':'contenu','class':'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                                 {{form_row(FormDevenirExpert.nom, { 'attr': {'placeholder':'titre','class':'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                                {{form_row(FormDevenirExpert.email, { 'attr': {'class':'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                                {{form_row(FormDevenirExpert.telephone, {'attr': {'class':'form-control'}}) }}
                                </div>
                                <div class="input-group mb-3">
                                                {{form_row(FormDevenirExpert.statutProfessionel, { 'attr': {'class':'form-control'}}) }}
                                </div>
                           
                    </div>
                    <div class="col-md-4">
                            <div class="input-group mb-3">
                                        {{form_row(FormDevenirExpert.pays, { 'attr': {'class':'form-control'}}) }}
                                       
                            </div>
                            <div class="form-group">
                                        {{form_row(FormDevenirExpert.ville, {'attr': {'class':'form-control'}}) }}
                            </div>
                            <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <label class="input-group-text" for="inputGroupSelect01">Mobilité</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect01">
                                      <option selected>Choisir...</option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                    </select>
                            </div>
                            <div class="form-group">
                                        {{form_row(FormDevenirExpert.fonctionActuelle, {  'attr': {'class':'form-control'}}) }}
                                       
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                        {{form_row(FormDevenirExpert.langue1, {  'attr': {'class':'form-control'}}) }}
                                        {{form_row(FormDevenirExpert.langue2, { 'attr': {'class':'form-control'}}) }}
                                      
                            </div> 
                            <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <label class="input-group-text" for="inputGroupSelect01">Niveau d'experience</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect01">
                                      <option selected>Choisir...</option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                    </select>
                            </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-6">
                            <div class="form-group">
                                        {{form_row(FormDevenirExpert.secteurActivite1, {'attr': {'class':'form-control'}}) }}
                                        {{form_row(FormDevenirExpert.secteurActivite2, {'attr': {'class':'form-control'}}) }}
                                        {{form_row(FormDevenirExpert.secteurActivite3, {'attr': {'class':'form-control'}}) }}
                                       
                            </div>
                            
                           
   
                    </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                        {{form_row(FormDevenirExpert.competence1, {'attr': {'class':'form-control'}}) }}
                                        {{form_row(FormDevenirExpert.competence2, {'attr': {'class':'form-control'}}) }}
                                        {{form_row(FormDevenirExpert.competence3, {'attr': {'class':'form-control'}}) }}
                                      
                            </div>
                           
                            <div class="form-group">
                                    <input type="text" class="form-control" id="autres" aria-describedby="emailHelp" placeholder="autres">
                            </div>
   
                    </div>
                </div> 
                        <p>vous souhaitez nous en dire plus</p>
                        {{form_row(FormDevenirExpert.autre, {'attr': {'class':'form-control'}}) }}
                       
                        <p>téléchargez votre cv </p>
                        {{form_row(FormDevenirExpert.cv, {'attr': {'class':'form-control'}}) }}
                    
                        <p></p>
                        <div class="col-sm-4">
                                {{form_row(FormDevenirExpert.souhaitMail, {'attr': {'class':'form-control'}}) }}
                        </div>
                      
                        <br> <br>
                        <button type="submit" class="btn btn-success">Envoyer</button>
                        
                </div>

               

        {{form_end(FormDevenirExpert)}}
        <div class="col-md-1">

            </div>
        </div>

	</div>









        

        

        


       
{% endblock %}