{% extends 'VuesAgrinet2/layout.html.twig' %}

{% block Home_title %}::acueil {% endblock %}

{% block stylesheets %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ asset('StyleAgrinet2/js/jquery-3.2.1.slim.min.js') }}"></script>
{% endblock %}

{% block body %}



<!-- banner -->
<div class="inner-banner" id="home">
	<div class="container">
	</div>
</div>
<!-- //banner -->

<section class="about py-5" id="about">
        <div class="container py-lg-5 py-sm-3">
            <h3 class="heading mb-sm-5 mb-4 text-center"> FORMATION PRATIQUE (continue) ET  RENFORCEMENT DE CAPACITE</h3>
           
            
            <div class="row">
                    {% for photo in renforcement_capacites %}
                    
                        <div class="col-lg-6 col-md-6 col-sm-6 mb">
                                <div class="content-panel-design pn">
                                <div id="blog-bg">
                                    <img src="{{ asset('uploads/') }}{{ photo.image1 }}" alt="" id="blog-bg-img" style="height: 279PX!important;">
                                   
                                </div>
                               
                                </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 mb">
                                <div class="content-panel-design pn">
                                <div id="blog-bg">
                                    <img src="{{ asset('uploads/') }}{{ photo.image2 }}" alt="" id="blog-bg-img" style="height: 279PX!important;">
                                   
                                </div>
                               
                                </div>
                        </div>
                    {% endfor %}
                <div class="col-lg-12 pl-xl-5 mt-lg-0 mt-4 about-right">
                        <p> Vous êtes un promoteur d’entreprise agropastorale, une association de producteur ou coopérative, nous organisons des ateliers et séminaires de renforcement des 
                                capacités de vos membres sur les techniques, les procédés de transformation et technologie innovantes en agriculture.
                                </p>

                                <br>
                            <div class="row">
                                    <div class="col-lg-6 item">
                                       



                                        <a href="#" data-toggle="modal"
                                        aria-pressed="false" data-target="#exampleModal889" data-blast="bgColor">
                                        <div class="feedback-info pt-5 pb-4 px-4 bloc1-elevage">
                                                <h3 class="mb-3">
                                                        <button class="btn btnLinkPage">SOLLICITEZ UN RENFORCEMENT DE CAPACITE</button>
                                                </h3>
                                                
                                                <div class="feedback-grids mt-3">
                                                    
                                                    <div class="clearfix"> </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                   
                                
                                </div>
                   
                </div>
       
    
                    
                    
            </div>
          
    
        </div>
    
        </div>
    </section>

    {% include "VuesAgrinet2/fragment/modal_renforcement_capacite.html.twig" %}

    {% endblock %}