{% extends 'VuesAgrinet2/layout.html.twig' %}

{% block Home_title %}::acueil {% endblock %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}

<style>
span.desin_ju {
    color: #ff0000c4;
}

input, textarea {
  outline: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  color: #555f77;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ced2db;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ced2db;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #ced2db;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ced2db;
}

p {
  line-height: 1.3125rem;
}

.comments {
  margin: 2.5rem auto 0;
  max-width: 60.75rem;
  padding: 0 1.25rem;
}

.comment-wrap {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
}

.photo {
  padding-top: 0.625rem;
  display: table-cell;
  width: 3.5rem;
}
.photo .avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-size: contain;
}

.comment-block {
  padding: 1rem;
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: 0.1875rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.comment-block textarea {
  width: 100%;
  resize: none;
}

.comment-text {
    font-family: inherit;
    margin-bottom: 1.25rem;
    font-style: oblique;
    font-weight: 400;
    color: #8a8a8a;
}

.bottom-comment {
  color: #acb4c2;
  font-size: 0.875rem;
}

.comment-date {
  float: left;
}

.comment-actions {
  float: right;
}
.comment-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}
.comment-actions li.complain {
  padding-right: 0.75rem;
  border-right: 1px solid #e1e5eb;
}
.comment-actions li.reply {
  padding-left: 0.75rem;
  padding-right: 0.125rem;
}
.comment-actions li:hover {
  color: #0095ff;
}
</style>

<script src="{{asset('StyleAgrinet2/js/jquery.min.js')}}"></script>



<script src="{{asset('StyleAgrinet2/js/jquery-3.2.1.slim.min.js')}}"></script>

<script src="{{asset('StyleAgrinet2/js/popper.min.js')}}"></script>



<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="{{asset('StyleAgrinet2/css/tab.css')}}">
<!-- banner -->
<div class="inner-banner" id="home">
	<div class="container">
	</div>
</div>
<!-- //banner -->



<!-- feedback -->
<section class="news py-5">
	<div class="container-fluid">
	
        <div class="row">
            <div class="col-sm-4">
                <h4 class="titre_tab">Input/Output: Bétail  </h4>
            </div>

            <div class="col-sm-8">
                <table class="table_first table-responsive" >
                    
                    <tbody class="tab_new_style"></tbody>
                        <tr class="ju">
                            
                            <td >
                            <div class="group">      
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Ferme: </label>
                            </div>
                            </td>
                            <td>
                                <div class="group">      
                                    <input type="text" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Type/race: </label>
                                </div>
                            </td>
                        
                            <td >
                                    <div class="group">      
                                        <input type="text" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>période reference: </label>
                                    </div>
                                
                                </td>
                            
                        
                        </tr>

                        
                        
            
                        
                        
                    </tbody>
                    
                </table>
            </div>
            <div class="col-sm-8">

            </div>
        </div> 
    </div>

    <div class="container-fluid">
        <div class="table-content">
            <table class="table table-borded table-responsive table-striped " id="table-list">
                <thead class="">
                    <tr >
                        <td class="text-center" rowspan="2">Date</td>
                        <td class="text-center" rowspan="2">Activités</td>
                        <td class="text-center" rowspan="2">Durée</td>
                        <td colspan="4" class="text-center bg_tab_style" >Traitement</td>
                        <td colspan="6" class="text-center bg_tab_style">Alimentation</td>
                        <td  colspan="6" class="text-center bg_tab_style2">Main d'oeuvre</td>
                        <td class="text-center">Transport</td>
                        <td class="text-center">Autres</td>
                        <td colspan="2" class="text-center">Evolution nombre d'animal</td>
                    </tr>
                    <tr>
                            
                            <td colspan="4" class="text-center bg_tab_style">Produit utilisé</td>
                            <td colspan="3" class="text-center bg_tab_style">Alimentation</td>
                            <td colspan="3" class="text-center bg_tab_style">Complément alimentaire</td>
                            <td colspan="2" class="text-center bg_tab_style2">familiale</td>
                            <td colspan="2" class="text-center bg_tab_style2">employé</td>
                            <td colspan="2" class="text-center bg_tab_style2">tacheron</td>
                            <td></td>
                            <td></td>
                            <td class="text-center">femelle</td>
                            <td class="text-center">male</td>
                        
                        </tr>
                        <tr >
                            <td ></td>
                            <td></td>

                            <td ></td>
                            <td class="bg_tab_style">nom</td>
                            <td class="bg_tab_style">Quantité utilisée</td>
                            <td class="bg_tab_style">unité de mesure</td>
                            <td class="bg_tab_style">Prix d’achat</td>
                            <td class="bg_tab_style">nom</td>
                            <td class="bg_tab_style">Quantité + unite</td>
                            <td class="bg_tab_style">Prix</td>
                            <td class="bg_tab_style">nom</td>
                            <td class="bg_tab_style">Quantité + unite</td>
                            <td class="bg_tab_style">Prix</td>
                            <td class="bg_tab_style2">nombre</td>
                            <td class="bg_tab_style2">Prix/Valeur</td>
                            <td class="bg_tab_style2">Nombre</td>
                            <td class="bg_tab_style2">Cout</td>
                            <td class="bg_tab_style2">Nombre</td>
                            <td class="bg_tab_style2">Cout</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          
                            
                        </tr>
                    
                </thead>
                <tbody class="tab_new_style">
                
                    <tr > 

                       
                            <td><div class="input_td"><input class="form-control input-sm" value="" autofocus></div></td>
                            <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                        <td>
                            <div class="input_td"><input class="form-control input-sm" value=""></div>
                        </td>
                        <td>
                            <div class="input_td"><input class="form-control input-sm" value=""></div>
                        </td>
                       
                      
                    </tr>

                    <tr > 

                       
                            <td><div class="input_td"><input class="form-control input-sm" value="" ></div></td>
                            <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                        <td>
                            <div class="input_td"><input class="form-control input-sm" value=""></div>
                        </td>
                        <td>
                            <div class="input_td"><input class="form-control input-sm" value=""></div>
                        </td>
                       
                      
                    </tr>
                    <tr > 

                       
                            <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td class="text-center bg_tab_style2"><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                            <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                        <td>
                            <div class="input_td"><input class="form-control input-sm" value=""></div>
                        </td>
                        <td>
                            <div class="input_td"><input class="form-control input-sm" value=""></div>
                        </td>
                       
                      
                    </tr>
                </tbody>
                
            </table>
            
          
            <button class="btn btn-dark btn_ajouter_colonne_tab" id="add"><span class="fa fa-plus-circle btn_ajter_colonne"></span></button>
           <span class="desin_ju">(cliquer ici pour ajouter une nouvelle ligne)</span>
            
        
        </div>

       
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-sm-8">
                <h5 class="titre_tab2">Utilisation des poduits (SVP notez des animaux ou produits vendus, donnés, etc.) </h5>

                
            <div class="table-content">
                <table class="table table-borded table-responsive table-striped " id="table-list2">
                    <thead class="table-dark">
                        <tr class="bg_tab_style">
                            <td>Date</td>
                            <td>Utilisation du rendement</td>
                            <td>Quantité + unite</td>
                            <td>Unité</td>
                            <td>Prix / Valeur</td>
                            <td>Revenu</td>
                        </tr>
                    </thead>
                    <tbody class="tab_new_style">
                        <tr class="ju">
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                        </tr>
                        <tr class="ju">
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                        </tr>
                        <tr class="ju">
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                        </tr>
                        <tr class="ju">
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                                <td><div class="input_td"><input class="form-control input-sm" value=""></div></td>
                        </tr>
                        
                    
                    </tbody>
                    
                </table>
                <button class="btn btn_tab_style btn_ajouter_colonne_tab" id="add2"><span class="fa fa-plus-circle btn_ajter_colonne"></span></button>
            
            
            </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>

   

    <div class="comments">
            <div class="comment-wrap">
                    <div class="photo">
                            <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg')"></div>
                    </div>
                    <div class="comment-block">
                            <form action="">
                                    <textarea name="" id="" cols="30" rows="3" placeholder="Add comment..."></textarea>
                                    <button class="btn btn-primary pull-right">Envoyer</button>
                            </form>
                    </div>
            </div>
    
            <div class="comment-wrap">
                    <div class="photo">
                            <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg')"></div>
                    </div>
                    <div class="comment-block">
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus iste nostrum dolorem natus recusandae incidunt voluptatum. Eligendi voluptatum ducimus architecto tempore, quaerat explicabo veniam fuga corporis totam reprehenderit quasi
                                    sapiente modi tempora at perspiciatis mollitia, dolores voluptate. Cumque, corrupti?</p>
                            <div class="bottom-comment">
                                    <div class="comment-date">Aug 24, 2014 @ 2:35 PM</div>
                                    <ul class="comment-actions">
                                            <li class="complain">Complain</li>
                                            <li class="reply">Reply</li>
                                    </ul>
                            </div>
                    </div>
            </div>
    
            <div class="comment-wrap">
                    <div class="photo">
                            <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/felipenogs/128.jpg')"></div>
                    </div>
                    <div class="comment-block">
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus iste nostrum dolorem natus recusandae incidunt voluptatum. Eligendi voluptatum ducimus architecto tempore, quaerat explicabo veniam fuga corporis totam.</p>
                            <div class="bottom-comment">
                                    <div class="comment-date">Aug 23, 2014 @ 10:32 AM</div>
                                    <ul class="comment-actions">
                                            <li class="complain">Complain</li>
                                            <li class="reply">Reply</li>
                                    </ul>
                            </div>
                    </div>
            </div>
    </div>
		
	
</section>
<!-- //feedback -->



	<!-- //footer -->

	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->
<script src="{{asset('StyleAgrinet2/js/tab.js')}}"></script>
<script>
$(document).ready(function(){
$(".total_recap_cul").find("td:last").css("display","none");
});
</script>
{% endblock %}
